body {
    touch-action: manipulation;
    margin:0;
    
}

.head {
    text-align: center;
    height: 30px;
    width: 100%;
    background-color: #2d4274;
    margin-top: -20px;

 
}
.main{
    text-align:center;
}
hr{
    width:100%;
  
}

h2 {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#2b2a2a;
}

h3 {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
}

h1 {
    text-align:center;
    font-size: 50px;
    font-family:'Courier New';
    color:#2b2a2a
}

.bar{
    width:100% 100%;
    flex: 0 1 100%;
    display: flex;
    justify-content: center;
    z-index: 1400;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #fff;
    padding: 0 80px;
}

.bg {
    display: block;
    margin: auto;
    filter: drop-shadow(15px 3px 0px black);
    border: solid black;
    border-radius: 5px;
    transition: 1s;
}

.bg:hover{
    display: block;
    margin: auto;
    filter: drop-shadow(15px 10px 0px black);
    border: solid black;
    transition: 0.5s;
    transform:translateY(-10px);
}


.pic {
    height: 600px;
    width: 570px;
    border: solid;
    border-radius:5px;
    margin-top: 20px;
    margin-left: 50px;
    filter: drop-shadow(15px 10px 0px black);
    transition:0.2s;

}


.pic:hover {
    height: 600px;
    width: 570px;
    border: solid;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 50px;
    filter: drop-shadow(15px 10px 0px black);
    transition: 0.3s;
    transform:translateY(-3px)
}

.content{
    text-align:center;
}




.simg {
    height: 700px;
    width: 550px;
    border: solid;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 50px;
    text-align: center;
    filter: drop-shadow(10px 10px 0px black);
    transition:0.2s;
}

.simg:hover {
    height: 700px;
    width: 550px;
    border: solid;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 50px;
    text-align: center;
    filter: drop-shadow(10px 10px 0px black);
    transition: 0.2s;
    transform:translateY(-4px);
}

.bottom{
    width:100%;
    height:200px;
    background-color:#2d4274;
    text-align:center;
    border:solid #1e2e56;
    
    }